<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
<div class="container">
    <div class="divholder">
        <p>How to use CanBank machine?</p>

        <p>1. Insert Plastic bottles and/or Cans in the machine inlet (one by one).</p>
        <P>2. For each bottle or can, wait for a few seconds to process before inserting the next deposit.</P>
        <P>3. Press Next and insert your phone number.</P>
        <P>4. Press Next and choose whether you’d like to be rewarded or to save points for later.</P>
        <P>5. You will receive a text message with your points.</P>
        <P>6. For any technical issues with the machine, please contact Ieoc HSE team.</P>
    </div>
    <div class="divholder" lang="ar" dir="rtl">
        <p>
            كيف تستخدم ماكينة كان بنك:

        </p>
        <p>
            1- قم بأدخال الزجاجات البلاستيكية أو العلب الألومنيوم في المدخل الخاص بالماكينة واحدة تلو الأخرى
        </p>

        <p>
            2- امنح الجهاز بضع ثوانٍ للمعالجة قبل ادخال المخلفات مرة أخرى.فى كل مرة
        </p>

        <p>
            3- اضغط على التالي، ثم أدخل رقم الهاتف الخاص بك

        </p>
        <p>
            4- اضغط على التالى مرة أخرى ثم اختر إذا ما كنت ترغب في الحصول على المكافأة أو حفظ النقاط لوقت لاحق
        </p>

        <p>
            5- ستصلك رسالة نصية تتضمن عدد النقاط الخاص بك
        </p>
        <p>
            6- في حالة مواجهة أي مشكلة فنية ، يرجى الاتصال بفريق السلامة و الصحة المهنية بشركة أيوك.
        </p>

    </div>
    <div>
        <div class="mybtn">
            <button class="fancy-button back-to-home-button" onclick="redirectToHome()">
                <i class="fas fa-home"></i> Back to Home
            </button>
        </div>
    </div>
</div>

<script>
    function redirectToHome() {
        window.location.href = '/eni/';
    }
</script>

</body>
</html>
